@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #1c2a38;
  background: #f7f5f2;
}

/* Hide Google Maps API Error Dialog for Hackathon Demo */
.gm-err-container {
    display: none !important;
}


/* Hide the white error dialog box in newer Google Maps API versions */
.gm-style div:has(> table .dismissButton) {
    display: none !important;
}

